{% extends 'base.html.twig' %}

{% block title %}Гостевая книга конференции{% endblock %}

{% block body %}
    <h2>Оставьте свой отзыв!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', {'slug': conference.slug}) }}">Просмотр</a>
        </p>
    {% endfor %}

{% endblock %}
